<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Sports Scheduler</title>
   
</head>

<body class="bg-blue-100">
    <div>
     
    </div>
        
        <a href="/signout" class="text-red-900 text-sm px-2 py-1 absolute top-2 right-2">Signout</a>
        <div class="container mx-auto px-10 py-4">
            <h1 class="text-4xl font-serif text-grey-600 mb-90">
              <%= sports.sportname %>!
            </h1>
          
            <% for (var i = 0; i < sessions.length; i++) { %>
              <% if (sessions[i].isCreated && sessions[i].date > new Date()) { %>
                <a href="/createdsession/<%= sessions[i].id %>" class="inline-block px-4 py-2 border border-gray-300 bg-gray-100 text-gray-700 hover:bg-gray-200 hover:text-gray-900">
                  <%= sessions[i].date %>
                </a>
          
                <br>
              <% } %>
              <% if (sessions[i].isCreated && sessions[i].date < new Date()) { %>
                <a href="/createdsession/<%= sessions[i].id %>" class="inline-block px-4 py-2 border border-gray-300 bg-gray-100 text-gray-700 hover:bg-gray-200 hover:text-gray-900">
                  <%= sessions[i].date %>
                </a>
          
                <br>
              <% } %>

            <% } %>
            <h1>Past sessions </h1>
            <% for (var i = 0; i < sessions.length; i++) { %>
                
                <% if (sessions[i].isCreated && sessions[i].date < new Date()) { %>
                  <a href="/createdsession/<%= sessions[i].id %>" class="inline-block px-4 py-2 border border-gray-300 bg-gray-100 text-gray-700 hover:bg-gray-200 hover:text-gray-900">
                    <%= sessions[i].date %>
                  </a>
            
                  <br>
                <% } %>
  
              <% } %>

          </div>
          
       
 </body>
</html>