<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-100">
    <a href="/Welcomeadmin" class="underline">Home</a><span>> <%= sport.sportname %></span>
    <a href="/editsport/<%= sportid %>" class="underline">Edit</a>
    
    <h1 class="text-center text-4xl my-8">Sessions</h1>
    <h1 class="text-center text-4xl my-4 " ><%= sport.sportname %></h1>

    <div class="text-center my-4">
        <a href="/sports/<%= sportid %>" class="text-blue-500">Create a new Session</a>
    </div>
    <div class="text-center my-4">
        <a href="" class="text-blue-500">View previous sessions</a>
    </div>
</body>
</html>
